/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.factorypath
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.project
.classpath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
wrapper
/electricity-provider/target
/electricity-consumer/target
/electricity-operator/target
/mvnw
/mvnw.cmd
/.settings
*.prefs
/.metadata/

*.log

